@model CoverType //it is not passed from the controller but we need CoverType model

<form method="post">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Cover Type</h2>
            <hr />
        </div>
        @*        <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-light">
            Update
        </button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@*validation on client side*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
